.contactlistForm {
    width: 800px;
    list-style-type: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}

.contactlistName {
    display: flex;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 0; 
    justify-content: space-between;
}
