.contactlistForm {
    list-style-type: none;
    padding: 0;
    
}

.contactlistName {
    display: flex;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 0; 
    justify-content: space-between;
}